{%  extends "core/base.html" %}
{% block content  %}
<div class = "container mt-5 ">
    <h1 class = "text-warning mb-5 border-bottom ">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-colo" ></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-colo" ></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-colo" ></i>
            <h3>Web Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
    </div>
    
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab  fa-android fa-2x mb-3 i-colo" ></i>
            <h3>Android</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-colo" ></i>
            <h3>iOS</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-colo" ></i>
            <h3>Advertising</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
    </div>
    <div class="row text-center text-white mb-5"> 
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-3 i-colo" ></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>    
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-colo" ></i>
            <h3>Hosting</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-headset fa-2x mb-3 i-colo" ></i>
            <h3>support</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, amet. </p>
        </div>
        
    </div>

</div>
{% endblock content %}