.st-font {
    font-family: 'Satisfy';
}

html,body{ 
    height:100%;

}
.container-fluid{
    min-height:100%;
}
.i-colo{
    color: chartreuse;
}
.ss-color{
    color: silver;
}
a.nav-link{
    color: whitesmoke;
}
a.nav-link:hover{
    color: black;
    background-color: #e9cd79;

}
a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
    
}

.login-box  {
    position: relative;
    display: inline-block;
    padding: 10px 20px ;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px  ;
    letter-spacing: 4px;

}
.login-box:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0  100px #03e9f4;

}
 .login-box{
     position: absolute;
     display:  block;
 }
 .login-box span:nth-child(1){
     top: 0;
     left: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(90deg, transparent, #03e9f4 );
     animation: btn-anim1 1s linear infinite;

 }
 @keyframes btn-anim1{
     0% { 
         left: -100%;
     }
     50%,100%{
         left: 100%;
     }
 }
 .login-box  span:nth-child(2){
     top: -100%;
     right: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg, transparent, #03e9f4);
     animation: btn-anim2 1s linear infinite;
     animation-delay:.25s ;
 }
 @keyframes btn-anim2{
     0%{
         left: -100%;
     }
     50%,100%{
         left: 100%;
     }
 }
 
 .login-box
 {  
    
    width:200px;  
    overflow: hidden;  
  
   
  
    background: rgba(0, 110, 255, 0.801);  
    border-radius: 15px ; }    
     