{%  extends "core/base.html" %}
{% block stylelinks %} 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock stylelinks %}
{% block content %} 
<div>
  <h1 style="padding-top: 10px;" class="text-warning mb-5 border-bottom ">LOGIN</h1>
</div>
<div>
  
</div>
<div >
  <h2 style="text-align: center;  
  color: rgba(0, 110, 255, 0.801);  
  padding-top:5%;">login</h2>
  </div>
<div style="color: white; padding-top: 30px; " class="text-center" >
<form action="" method="POST" novalidate>
  {% csrf_token %}
  {% for field in form %}
  {% if field.widget_type != 'checkbox' %}
    <div class="modal-form-group">
      <i class="input-icon material-icons" style="opacity: 1; width: auto;">account_circle</i>
          {{ field }}
    </div>
  {% else %}
    {{ field }}
    {% endif %}
    {% endfor %}
</div>
      <!-- {{form.as_p}} -->

       
    </div >
<div >
     <input style="margin-left: 50%;" class="login-box"  type="submit" value="Submit">
 </div> 

    {% endblock content %}